<section class="container-fluid hero text-center">
    <div class="row ">

        <div class="col-sm-12 col-lg-6 hero-p1   d-flex justify-content-center align-items-center  ">
            <div class="hero-p1-cont d-flex justify-content-center align-items-center ">
                <img src="../../../assets/logo.png" class="hero-logo" alt="">
            </div>
        </div>
    <div class="col-sm-12 col-lg-6 hero-p2 d-flex justify-content-center align-items-center">
        <div class="hero-p2-cont d-flex justify-content-center align-items-center ">
            <div class="hero-p2-subcont">
                <h1 class="hero-p2-tit">Bienvenido a bIBLIO</h1>
                <h5 class="sub-tit" >Encontrá el libro que estás buscando</h5>
                <h5 class="sub-tit">nuevo o usado pero siempre</h5>
                <h2 class="sub-tit">al mejor precio.</h2>
            </div>
        </div>

        </div>
    </div>
</section>

<!--    NOVEDADES   -->
<!--    NOVEDADES   -->
<!--    NOVEDADES   -->
